body {
    background: #267871;
    background: -webkit-linear-gradient(to right, #6d14b6, #030d1141);
    background: linear-gradient(to right, #6d14b6, #6d14b6);
    color: white;
}

a {
    color: white;
}

a:hover {
    color: #101d6496;
}

.navbar {
    text-shadow: 2px 2px 4px #000;
}

.jumbotron {
    background-image: url("../images/bg.png");
    font-family: 'Major Mono Display', monospace;
    margin-top: 80px;
    text-shadow: 2px 2px 4px #000;
}

.card {
    background-color: rgba(51, 51, 51, 0.8);
    margin: 10px;
}

.modal-content,
.list-group-item {
    background-color: rgba(51, 51, 51, 0.8) !important;
}